@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.navbar-toggler.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
body {
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
  margin: 0;
}
.font-robato {
  font-family: "Roboto Condensed", sans-serif !important;
}
.table-responsive::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 10px;
}
.table-responsive::-webkit-scrollbar-track,
html::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgb(251, 250, 250);
  border: 1px solid #cacaca;
}
html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(255, 72, 0);
  box-shadow: inset 0 0 6px rgb(252, 1, 1);
}
.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(233, 220, 40);
  box-shadow: inset 0 0 6px rgb(247, 243, 2);
}
.nav-item {
  text-transform: uppercase;
  font-size:small;
}
.navbar-toggler>.close {
  display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}
.nav-item:hover .nav-link,
.nav-item .active {
  color: rgb(232, 154, 8) !important;
}
.text-color {
  color: #b71710;
}
.roundedTop {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.btn-width {
  width: -webkit-fill-available;
  padding: 10px 12px !important;
  margin-bottom: 20px;
}
.bg-color {
  background: #cfcfcf;
}
.font-bold-xx-large {
  font-size: xx-large;
}
.box {
  overflow: hidden;
}
.hove-effect:hover {
  transform: scale(1.1);
  transition: all 0.9s ease-in-out;
}
.m-tb-5 {
  margin: 0px !important;
  padding: 6px 0px;
  font-weight: 700;
  text-align: center !important;
}
.rounded-bottom-8 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.set-width-height {
  width: 100px;
  height: 100px;
}
.mobile-modal-mb-32 {
  margin-bottom: 32px;
}
.hov-color:hover {
  background-color: #f5b21f !important;
  color: white;
}
.font-bold-x-large {
  font-size: x-large;
}
.bg-black-img,.bottom-footer {
  background: url("../images/bg-black-img.jpg");
}
.fa-2xl {
  font-weight: bolder;
  font-size: 50px;
  padding-bottom: 30px;
}
.js-count-up {
  font-weight: bolder;
  font-size: 40px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.js-count-up::after {
  content: "+";
}
.row-block {
  display: -ms-flexbox;
  display: block;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.list-before {
  list-style-type: none;
}
.list-before-gt {
  line-height: 50px;
  transition: all 0.3s ease-in-out;
}
.list-before a {
  color: white;
  text-decoration-line: none;
}
.list-before-gt::before {
  content: "> ";
  font-size: larger;
  color: orange;
  padding: 0px 6px;
}
.list-before-gt:hover,
.list-before-gt:hover a {
  transform: scale(0.9);
  font-size: large;
  color: orange;
  padding: 0px 8px;
}
.fa-brands {
  font-size: 34px;
}
.main-footer {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
